body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center {
    text-align: center;
}

.tableHeader {
    background-color: black;
    color: white;
}

.innerTable {
    border: 1px solid black;
    text-align: center;
}

.vertical {
    vertical-align: middle !important;
}

.mchDetail {
    color: blue;
    background-color: white;
    font-size: 17px;
}

.amvDetail {
    color: blue;
    background-color: white;
    font-size: 17px;
}

.lowPadding {
    padding: 0.05rem !important;
}

.noMarginBottom {
    margin-bottom : 0px !important;
}

.alignButtonVertical {
    margin-top : 2.4rem !important;
}

.alignButtonHorizontal {
    margin-right: 3rem !important;
}
